<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
  "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
  "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<!--
  Règle Polkit pour Shelly GPUI
  Permet aux utilisateurs membres du groupe "wheel" d'exécuter les opérations
  de gestion de paquets (install, remove, upgrade) via le CLI Zig sans entrer
  leur mot de passe à chaque fois (demande unique par session graphique).
-->
<policyconfig>

  <vendor>Shelly Package Manager</vendor>
  <vendor_url>https://github.com/Seafoam-Labs/Shelly-ALPM</vendor_url>
  <icon_name>shelly-gpui</icon_name>

  <!-- Installation d'un paquet -->
  <action id="com.shellyorg.shelly-gpui.install">
    <description>Installer un paquet système</description>
    <description xml:lang="fr">Installer un paquet système</description>
    <description xml:lang="en">Install a system package</description>
    <message>Shelly GPUI nécessite vos autorisations pour installer un paquet.</message>
    <message xml:lang="fr">Shelly GPUI nécessite vos autorisations pour installer un paquet.</message>
    <message xml:lang="en">Shelly GPUI requires authorization to install a package.</message>
    <icon_name>shelly-gpui</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/lib/shelly/shelly</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

  <!-- Suppression d'un paquet -->
  <action id="com.shellyorg.shelly-gpui.remove">
    <description>Supprimer un paquet système</description>
    <description xml:lang="fr">Supprimer un paquet système</description>
    <description xml:lang="en">Remove a system package</description>
    <message>Shelly GPUI nécessite vos autorisations pour supprimer un paquet.</message>
    <message xml:lang="fr">Shelly GPUI nécessite vos autorisations pour supprimer un paquet.</message>
    <message xml:lang="en">Shelly GPUI requires authorization to remove a package.</message>
    <icon_name>shelly-gpui</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/lib/shelly/shelly</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

  <!-- Mise à niveau globale du système -->
  <action id="com.shellyorg.shelly-gpui.upgrade">
    <description>Mettre à niveau le système</description>
    <description xml:lang="fr">Mettre à niveau le système</description>
    <description xml:lang="en">Upgrade the system</description>
    <message>Shelly GPUI nécessite vos autorisations pour mettre à niveau le système.</message>
    <message xml:lang="fr">Shelly GPUI nécessite vos autorisations pour mettre à niveau le système.</message>
    <message xml:lang="en">Shelly GPUI requires authorization to upgrade the system.</message>
    <icon_name>shelly-gpui</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/lib/shelly/shelly</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

</policyconfig>
