[Desktop Entry]
Type=Application
Name=Shelly
Name[fr]=Shelly
GenericName=Package Manager
GenericName[en]=Package Manager
GenericName[fr]=Gestionnaire de paquets Arch Linux
Comment=Universal package manager for Arch Linux, AUR, Flatpak, and AppImage
Comment[en]=Universal package manager for Arch Linux, AUR, Flatpak, and AppImage
Comment[fr]=Gestionnaire de paquets universel pour Arch Linux, AUR, Flatpak et AppImage
Exec=shelly-gpui
Icon=shelly-gpui
Terminal=false
Categories=System;PackageManager;
Keywords=pacman;package;manager;aur;flatpak;arch;linux;shelly;alpm;appimage;
StartupWMClass=shelly-gpui
StartupNotify=true
X-GNOME-UsesNotifications=false
